<h1>Welcome to {{ storeName }}</h1>

<p>Number of books: {{ numBooks }}</p>

<p>The books are:</p>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Availability</th>
        <th>Borrow/Return</th>
    </tr>
    <tr *ngFor="let book of shelf1.contents">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{book.availability}}</td>
        <td>
            <button (click)="book.availability? borrow(book) : borrow(book)">
                {{ book.availability ? 'Borrow' : 'Return'}}
            </button>
        </td>
    </tr>

</table>
<button (click)="newBook()">newBook</button>